* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    margin: 100px auto;
    max-width: 640px;
    width: 100%;
    
}

form {
    margin-top: 40px;
}

input, button {
    display: block;
    padding: 10px;
    margin-top: 8px;
    width: 100%;
}

button {
    background-color: rgb(11, 123, 214);
    color: aliceblue;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 22px;
    font-style: italic;
    cursor: pointer;
}

button:hover{
    background-color: rgb(8, 81, 141);
}

.mensagem {
    text-align: center;  
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
}